body {
  font-family: 'microsoft yahei';
  background-color: #f6f6f6;
}

/*背景*/
.login {
    background-color: #364150!important;
}
/*logo*/
.login .logo {
    margin: 60px auto 0;
    padding: 15px;
    text-align: center;
}
/*表单部分*/
.login .content {
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 40px auto 10px;
    padding: 10px 30px 30px;
    overflow: hidden;
    position: relative;
}
.login .content h3 {
    margin-bottom: 25px;
    color: #32c5d2;
    text-align: center;
    font-size: 20px;
    font-weight: 400!important;
    letter-spacing: 2px
}

.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat!important;
    text-indent: -10000px;
    outline: 0;
    background-image: url(/images/remove-icon-small.png)!important;
}

.control-label {
    margin-top: 1px;
}
.visible-ie9 {
    display: none;
}
.login .content .form-actions {
    clear: both;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 30px 25px;
    margin-left: -30px;
    margin-right: -30px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}
.login .content .form-actions .btn {
    margin-top: 1px;
    font-weight: 600;
    padding: 10px 20px!important;
}
.login .content .rememberme {
    margin-left: 60px;
}
.login .content .check {
    color: #8290a3;
}
.login .content .forget-password {
    font-size: 14px;
    float: right;
    display: inline-block;
    margin-top: 10px;
}
.login .content .create-account {
    margin: 0 -40px -30px;
    padding: 15px 0 12px;
    text-align: center;
    background-color: #6c7a8d;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}
.login .content .create-account p a {
    font-weight: 600;
    font-size: 14px;
    color: #c3cedd;
}
.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}




/*用户界面*/
body.sb-top .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
body.sb-top #sidebar_left {
    overflow: visible;
    line-height: 1;
    z-index: 1028;
    width: 100%;
    min-height: 0;
    margin-top: 0;
    padding: 0;
    border: 0;
    background-color: #2a3342;
    text-align: center;
}
body.sb-top #sidebar_left .sidebar-menu > li.active a, body.sb-top #sidebar_left .sidebar-menu > li:hover a ,.nav>li>a:focus, .nav>li>a:hover{
    background-color: #3c4655;
}
body.sb-top #sidebar_left .sidebar-left-content {
    display: inline-block;
}

body.sb-top #sidebar_left .sidebar-menu > li {
    float: left;
    border-radius: 4px;
    min-width: 107px;
    min-height: 100px;
}
/*body.sb-top.sb-top-lg #sidebar_left .sidebar-menu {
  display: flex;
}*/
body.sb-top.sb-top-lg #sidebar_left .sidebar-menu > li > a {
    line-height: inherit;
    text-align: center;
    padding: 26px 0px 22px;
    /*width: 250px;*/
}
body.sb-top #sidebar_left .sidebar-menu > li > a > span.sb-menu-icon {
    font-size: 28px;
    padding: 0;
    float: none;
    margin-bottom: 12px;
    width: auto;
    padding-left: 0;
    padding-right: 0;
}
.sidebar-menu > li > a > .sb-menu-icon {
    line-height: 28px;
    text-align: center;
    color: #eeeff1;
}
.sidebar-menu > li.active > a > .sb-menu-icon {
    color: #fff;
    border-color: #fff;
}
body.sb-top.sb-top-lg #sidebar_left .sidebar-menu > li > a > .sidebar-title {
    padding-left: 0;
    display: block;
    font-weight: 700;
    font-size: 12px;
    color:#eeeff1;
    margin-left: 0;
}
body.sb-top.sb-top-lg #sidebar_left .sidebar-menu > li.active > a > .sidebar-title {
    color:#eeeff1;
}
body.sb-top #sidebar_left .sidebar-menu > li > ul {
    background-color: #3c4655;
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
    height: auto;
    padding: 10px 0;
    border-left: 0;
    border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    overflow: hidden;
    clear: both;
    display: none;
    border-top: 1px dashed #4e5d77;

}
body.sb-top #sidebar_left .sidebar-menu > li:hover > ul {
    z-index: 9999;
    display: block;
}
body.sb-top #sidebar_left .sidebar-menu > li > ul >li > a {
    color: #ddd;
}

/*文件上传*/
#panel-wrap {
    padding: 40px 30px 50px 31px;
}
.panel {
    -webkit-box-shadow: 0 2px 0 #e5eaee;
    box-shadow: 0 2px 0 #e5eaee;
    padding: 28px 32px;
    border-radius: 5px;
}
.panel {
    position: relative;
    margin-bottom: 10px;
}
.panel-body {
    position: relative;
    padding: 15px;
}
.chute-bin {
    min-height: 65px;
    padding: 40px;
    margin: 0 -15px 15px;
    border: 1px dashed #e3ebf1;
    background: #fbfbfb;
    border-radius: 0 0 60px 0;
}
.panel-heading .panel-title{
    font-size: 2rem;
    font-weight: bold;

}
input#inputfile {
    margin-top: 7px;
}

/*管理幻灯片*/
body .basic-gallery .col-md-4{
  float: inherit;
  display: inline-flex;
  width: 33%;
}
body  .filter-error-message {
    display: none;
    text-align: center;
    font-size: 18px;
    color: red;
    margin-top: 10px;
}
body .basic-gallery #mixitup-container .mix .panel {
    margin: 0;
}
#content .panel {
    -webkit-box-shadow: 0 2px 0 #e5eaee;
    box-shadow: 0 2px 0 #e5eaee;
    padding: 28px 32px;
    border-radius: 5px;
}
.pbn {
    padding-bottom: 0 !important;
}
.p6 {
    padding: 6px !important;
}
.table-layout > div, .table-layout > aside, .table-layout > section {
    display: table-cell;
    float: none;
}
.form-actions-center{
    text-align: center;
    margin: 10px 0;
}
.form-actions .btn{
    margin: auto 4px;
    padding: 4px 25px;
}


/*发表文章*/
#blogfile {
    padding: 8px 0;
}
.mt-checkbox-inline{
  padding: 8px 0 0;
  height: 20px;
}
.mt-checkbox {
    display: inline-block;
    position: relative;
    padding: 0 14px 0 25px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    font-weight: 200;
    font-size: 13px;
    color: #777;
    transition: all .3s;s;
}
.mt-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}
.mt-checkbox>span {
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background: #d0d0d0;
}
.mt-checkbox>span::after {
    display: none;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #666;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    content: '';
    position: absolute;
}
.mt-checkbox input[type=checkbox]:checked + span::after {
    display: block;
}
button.btn.green{
  margin-right: 10px;
}


.blog-post-content {
    padding: 2px 15px 20px;
    background-color: #fff;
}
.blog-post-content>.blog-post-title>a {
    font-size: 20px;
}
.blog-title>a {
    color: #4e5a64;
    font-weight: 600;
}
.blog-content-1 .blog-post-sm>.blog-img-thumb {
    height: 200px;
}
.blog-content-1 .blog-img-thumb {
    overflow: hidden;
    position: relative;
}
.blog-img-thumb img {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
.blog-content-1 .blog-post-content>.blog-post-foot>.blog-post-meta>a {
    color: #9aa5b2;
    font-size: 13px;
    font-weight: 600;
}
.kapu-thumbnail {
    height: 32px;
    overflow: hidden;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    vertical-align: baseline;
    text-align: center;
}
