link(href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")
link(href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
script(src="/lib/jquery/dist/jquery.min.js" type="text/javascript")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
//- link(href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet")

link(href="/stylesheet/user.css" rel="stylesheet")
script(src="/javascript/script-back.js" type="text/javascript")
