footer.footer
  .container
    .row  
      .col-md-3
        .Commitment
          i.icon1
          span 
            h4 明码标价
            p 产品明码标价，拒绝隐性收费
      .col-md-3
        .Commitment
          i.icon2
          span 
            h4 专人服务
            p 专人专事专办，保证服务质量
      .col-md-3
        .Commitment
          i.icon3
          span 
            h4 交易透明
            p 进度即时更新，流程实时可查
      .col-md-3
        .Commitment
          i.icon4
          span 
            h4 售后无忧
            p 提供完善的支持，方便售后服务
#copyright
  .container
    .row  
      .col-md-9 ©版权所有嘉兴中誉会计事务有限公司 | 设计&技术支持： 咖普网络
        
      .col-md-3
        .qrcode.pull-right
          i.fa.fa-qrcode
          | 公众号二维码
