extends ../layout
block content
  .page-header
    .container
      h1
        | #{title}
        small 联系我们，让我们更好的为您服务
  .about
    .about-top
      .container
        .about-grids
          .col-md-4.about-grid
            img.img-responsive(src='/images/a1.jpg', alt='')
          .col-md-8.about-grid
            h4
              | Donec elit enim, egestas sed malesuada et ornare et lectus at leo nec purus viverra lobortis
            p
              | Sed ut luctus nibh, non faucibus massa. Mauris aliquam odio quis nisi volutpat, a malesuada enim
              | interdum. Praesent at leo nec purus viverra lobortis. Vestibulum eget eros semper, tempus massa
              | nec, iaculis dolor.Donec dapibus risus quis cursus fringilla. Quisque finibus porttitor ligula,
              | ut sagittis ipsum. Donec sit amet purus euismod tellus dapibus aliquet.leo nec purus viverra lobortis. Vestibulum eget eros semper, tempus massa
              | nec, iaculis dolorit amet purus euismod tellus dapibus aliquet it amet purus euismod tellus dapibus aliquetit amet purus euismod tellus dapibus
              | aliquet
          .clearfix  
      // //container
    .about-team
      // container
      .container
        h4 年轻的团队
        .team-grids
          .col-md-3.team-grid
            img.img-responsive(src='/images/t1.jpg', alt='')
            h6 Jain Smith
            p
              | Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus
          .col-md-3.team-grid
            img.img-responsive(src='/images/t2.jpg', alt='')
            h6 shan carter
            p
              | Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus
          .col-md-3.team-grid
            img.img-responsive(src='/images/t3.jpg', alt='')
            h6 Jack dany
            p
              | Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus
          .col-md-3.team-grid
            img.img-responsive(src='/images/t4.jpg', alt='')
            h6 Mary Jain
            p
              | Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus
          .clearfix  
      // //container
    .advantages
      // container
      .container
        h4 我们的优势
        .advantages-grids
          .col-md-4.advantages-grid
            .advantage-left
              p 1
            .advantage-right
              h5 Donec dapibus risus quis cursus fringilla Quisque finibus
              p
                | Praesent at leo nec purus viverra lobortis vestibulum eget eros semper tempus massa nec at leo nec purus viverra lobortis
            .clearfix  
          .col-md-4.advantages-grid
            .advantage-left
              p 2
            .advantage-right
              h5 Donec dapibus risus quis cursus fringilla Quisque finibus
              p
                | Praesent at leo nec purus viverra lobortis vestibulum eget eros semper tempus massa nec at leo nec purus viverra lobortis
            .clearfix  
          .col-md-4.advantages-grid
            .advantage-left
              p 3
            .advantage-right
              h5 Donec dapibus risus quis cursus fringilla Quisque finibus
              p
                | Praesent at leo nec purus viverra lobortis vestibulum eget eros semper tempus massa nec at leo nec purus viverra lobortis
            .clearfix  
          .clearfix  
          // //container
