extends ../include/admin-header
block content
    .container
      .row#slide-upload
        .col-md-12
          #panel-wrap
            .panel
              .panel-heading
                span.panel-title 分析系统
              .panel-body
                .chute-bin(style='min-height: 250px;')
                  | 等待分析系统上线


                
                  
                
        

            
          
      
    
    
    
