extends ../include/admin-header
block content
    .container
      .row#slide-upload
        .col-md-12
          #panel-wrap
            .panel
              .panel-heading
                span.panel-title 用户管理
              .panel-body
                .chute-bin(style='min-height: 250px;')
                  | 用户系统，仅限管理员使用
      


                
                  
                
        

            
          
      
    
    
    
